body {
    font-family: Arial, sans-serif;
    padding: 40px;
}

nav {
    margin-bottom: 30px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card {
    background: #ece8e1;
    padding: 40px;
    width: 600px;
    margin-top: 30px;
    margin-left: 520px;
    text-align: center;
}
